.jodit_icon {
    font-size: 14px;
    color: #505050;
    fill: #505050;
}
.jodit_toolbar>li {
    min-width: 34px;
}
.jodit_container:not(.jodit_inline) {
    background: #fff;
    font-size: inherit;
    font-family: inherit;
    color: #333;
}
